.blind {
  display: none;
}
* {
  margin: 0;
  padding: 0;
}
#header {
  height: 64px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdown {
  margin-right: 20px;
  position: relative;
  display: inline-block;
}
#header .button {
  padding: 10px 40px;
  font-size: 15px;
  border: none;
  text-align: center;
  background-color: #ffffff;
  color: black;
}
#dropDownMenu {
  position: fixed;
  z-index: 1;
}
#dropDownMenu .dropDownItem {
  display: block;
  font-size: 15px;
  background-color: white;
  color: black;
  text-decoration: none;
  padding-top: 20px;
  padding-left: 30px;
  margin: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner {
  width: 900px;
  height: 180px;
  margin: auto;
}

#pageMenu {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
}
#pageMenu .button {
  font-size: 20px;
  background-color: white;
  color: black;
  border: none;
  padding: 20px;
  margin: 20px;
}
